body {
    background-color: rgb(255, 255, 255);
}
.input {
    border-radius: 10px;
    border: 1px solid #888686;
}
.button {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    background:  rgb(5, 161, 213);
    color: white;
    padding: 5px 220px;
    position: relative;
    left: -6px;
}